* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url('jpg/456.jpg');
	font-family: 'arial';
}

.form-login {
	width: 90%;
	max-width: 400px;
	height: 340px;
	border-radius: 5px;
	background: #24303c;
	margin: auto;
	margin-top: 180px;
	box-shadow: 7px 13px 37px #000;
	padding: 20px 30px;
	border-top: 4px solid #1f53c5;
	color: white;
}

.form-login h5{
	margin: 0;
	text-align: center;
	height: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid;
	font-size: 20px;
}

.data {
	width: 100%;
	border-bottom:  1px solid #1f53c5;
	margin-bottom: 15px;
	padding: 11px 10px;
	border-radius: 4px;
	background: #252323;
	font-size: 14px;
	font-weight: bold;
	color: white;
}
.buttom {
	width: 100%;
	height: 40px;
	background: #1f53c5;
	border: none;
	color: white;
	margin-bottom: 16px;
}

.buttom:hover {
	background: #000;
}

.form-login p {
	height: 40px;
	text-align: center;
	border-bottom: 1px solid;
}

.form-login a {
	color: white;
	text-decoration: none;
	font-size: 14px;
}

.form-login a:hover {
   text-decoration: underline;
}


